{
  "extends": "airbnb",
  "plugins": ["react", "emotion", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "react/prefer-stateless-function": "warn",
    "react/sort-comp": [
      1,
      {
        "order": [
          "static-methods",
          "lifecycle",
          "everything-else",
          "rendering"
        ],
        "groups": {
          "rendering": ["/^render.+$/", "render"]
        }
      }
    ],
    "react/require-default-props": 0,
    "max-len": ["error", 120, 2],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": 0,
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "react/jsx-boolean-value": ["warn", "never"],
    "react/jsx-closing-bracket-location": ["warn", "after-props"],
    "react/jsx-curly-spacing": ["warn", "never"],
    "react/jsx-first-prop-new-line": ["warn", "multiline"],
    "react/jsx-indent": ["warn", 2],
    "react/jsx-key": "error",
    "react/jsx-wrap-multilines": ["warn"],
    "react/jsx-indent-props": 0,
    "no-trailing-spaces": [2, { "skipBlankLines": true }],
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/no-static-element-interactions": 0,
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/order": ["warn", {"newlines-between": "always"}],
    "semi": [2, "never" ],
    "babel/object-curly-spacing": 0
  },
  "overrides": [
    {
      "files": [ "**/stores/*.js", ],
      "excludedFiles": "stores/*.spec.js",
      "rules": {
        "func-names": 0,
        "no-param-reassign": 0
      }
    }
  ],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.dev.config.babel.js"
      }
    }
  }
}